.cover-system{
    width: 70%;
    margin: auto;
}

.cinema-sys{
    width: 100px;
    height: 700px;
    overflow: auto;
    margin-right: 10px;
}
.cinema-sys ul{
    list-style: none;
}
.clusters{
    height: 700px;
    overflow: auto;
}

.book-ticket{
    overflow: auto;
    height: 700px;
}

.book-id{
    margin-bottom: 15px;
} 